body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 2fr 2fr;
  grid-template-areas: "header header header"
    "lanes parts parts"
    "lanes issues issues";
  height: 100vh;
  width: 100vw;
}

header {
  grid-area: header;
}

.lanes {
  grid-area: lanes;
}

.league {
  grid-area: league;
}

.parts {
  grid-area: parts;
}

.issues {
  grid-area: issues;
}

/* --------------Borders and Design-------------------------- */
textarea {
  border-width: 2px;
  border-color: black;
}


/* -------------------- Textual------------------------------- */
li {
  font-weight: bold;
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
}
