/* --------------Borders and Design-------------------------- */
textarea {
  border-width: 2px;
  border-color: black;
}


/* -------------------- Textual------------------------------- */
li {
  font-weight: bold;
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
}
